body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.highlight{
    color: rgb(235, 146, 13);
}
.first-side{
    width: 45%;
    float: left;
    margin-left: 5%;

}
.first-side img{
    width: 50%;
}


